# One Way Manova In Python

In [1]:
# Importing library
import scipy.stats as stats
import pandas as pd
Manova = pd.read_csv(r'C:\Users\Dell\OneDrive\Desktop/stat.csv')
Manova.head(4)

,ID,prgm,sex,age,time1,x1pr,x2pr,x3pr,x4pr,x5pr,...,time2,x1pt,x2pt,x3pt,x4pt,x5pt,x6pt,x7pt,x8pt,Ypt
0,1,FT,Male,19,12,4,5,3,3,4,...,83,5,4,3,1,3,4,2,4,26
1,2,FT,Male,20,60,3,5,5,3,5,...,92,1,3,1,3,1,3,1,6,19
2,3,FT,Male,22,56,4,3,4,0,3,...,54,4,2,3,3,5,4,4,3,28
3,4,FT,male,19,67,4,4,2,2,2,...,58,4,5,2,1,4,4,2,5,27